.app-header {
    background-color: rgb(63, 63, 63);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
        width: 40px;
    }
    .img-home {
        width: 43px;
    }
    h1 a{
        text-decoration: none;
        color: whitesmoke;
        &:visited {
            color: whitesmoke;                
        }
    }
    ul {
        width: 70%;
        display: flex;
        li {
            display: flex;   
        }
        a {  
            text-decoration: none;
            color: whitesmoke;
            &:visited {
                color: whitesmoke;                
            }
            &:hover {
                text-decoration: underline; 
            }
        }
        & > *:not(:first-child) {
            margin-inline-start: 30%;
        }
    }
    @media (max-width: 500px) {
        justify-content: flex-start;
        ul {
            width: 40%;
            
        }
        h1 {
            font-size: 20px;
        }
        img {
            width: 30px;
        }
        .img-home {
            width: 30px;
        }
    }
}