.transfer-fund {
    background-color: rgb(78, 78, 78);
    width: 350px;
    border-radius: 3px;
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        & > * {
            margin: 5px;
        }
        input {
            background-color: #000;
            color: whitesmoke;
            padding: 5px;
            border-radius: 3px;
            border: none;
            box-shadow: inset 0px 0px 5px 0px #c8c8c8;
        }
        button {
            margin-top: 5px;
            width: 100px;
            padding: 20px;
            border-radius: 4px;
            background-color: rgb(104, 139, 221);
            color: whitesmoke;
            cursor: pointer;
        }
    }
}