.cotact-filter {
    input {
        background-color: #000;
        color: whitesmoke;
        padding: 5px;
        border-radius: 3px;
        border: none;
        box-shadow: inset 0px 0px 5px 0px #c8c8c8;
    }
}