<div class="contact-edit">
    <button class="btn-back" (click)="onBack()"><img src="../../../assets/img/back.png"></button>
    <button *ngIf="contact._id" class="btn-delete" (click)="onDeleteContact()">
        <img src="../../../assets/img/delete.png"></button>
    <form *ngIf="contact" class="contact-edit-form" (ngSubmit)="onSaveContact()">
        <label for="name">Name</label>
        <input id="name" type="text" [(ngModel)]="contact.name" name="name">
        <label for="phone">Phone</label>
        <input id="phone" type="text" [(ngModel)]="contact.phone" name="phone">
        <label for="email">Email</label>
        <input id="email" type="txt" [(ngModel)]="contact.email" name="email">
        <button class="btn-save">Save</button>
    </form>
</div>