.signup-page {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    height: 85vh;
    align-items: center;
    img {
        width: 80px;
    }
    .signup-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        & > * {
            margin-top: 20px;
        }
        button {
            margin-top: 25px;
            width: 100px;
            padding: 20px;
            border-radius: 4px;
            background-color: rgb(104, 139, 221);
            color: whitesmoke;
            cursor: pointer;
        }
    }
}